body {
    padding-bottom: 1000px;
}

.box {
    background-color: red;
    height: 50px;
}

.box.float-end{
    background-color: blue;
    width: 50px;
}

.box-sticky,
.fixed-bottom {
    width: 100px;
    height: 100px;
    background-color: green;
}

.fixed-bottom {
    background-color: blueviolet;
}